body{
	background-color: rgb(255, 255, 255);
}


/*Logo*/
.logo{
	position: absolute;
	top: 10px;
	left: 720px;
}

/*Background Option bar*/
.backg{
	background: #000000;
	padding:30px 945px;
	box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
}

/*Option Bar*/
.btn2 {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode',
	 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	 font-size:20px;
	 font-weight:bold;
	 padding:8px 16px;
	 text-align:center;
	 text-decoration:none;	
	 letter-spacing: 1.5px;
	 color:#FFF;
	 cursor:pointer;
}

.btn2:hover{
	background-color: #ffffff;
	color: #000000;
}


/*slideshow*/
.container{
	width: 123vmin;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 75%;
	left: 50%;
	overflow: hidden;
	border: 6px solid #000;
	box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
	width: 1500px;
	height: 800px;
}

.wrapper{
	width: 1500px;
	display: flex;
	animation: slide 30s infinite;
}

@keyframes slide{
	0%{
		transform: translate(0);
	}
	25%{
		transform: translate(0);
	}
	30%{
		transform: translate(-100%);
	}
	50%{
		transform: translate(-100%);
	}
	55%{
		transform: translate(-200%);
	}
	75%{
		transform: translate(-200%);
	}
	80%{
		transform: translate(-300%);
	}
	100%{
		transform: translate(-300%);
	}
}

img {
	width: 100%;
}


/*footer*/
.footernav{
	position: absolute;
	top: 130%;
	background: #000;
	min-height: 13.6%;
	width: 99%;
}

.footernav ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin-top: 35px;
}

.footernav ul a{
	color: #ffffff;
	margin: 40px;
	text-decoration: none;
	font-size: 16px;
	opacity: 0.7;
	transition: 0.5s;
}

.footernav ul li a:hover{
	opacity: 1;
}

.footertxt{
	color: #ffffff;
	font-size: 14px;
}

.line{
	background:#ffffff;
	padding:0.5px 650px;
}


.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffffff;
	padding: 10px 20px;
	height: 90px;
	width: 1850px;
  }
  
  .navbar-login {
	display: flex;
	margin-right: 20px;
  }
  
  .login-btn{
	top: 44px;
	left: 1700px;
	position: absolute;
	font-family:'Times New Roman', Times, serif;
	 font-size:18px;
	 font-weight:bold;
	 padding:8px 16px;
	 text-align:center;
	 text-decoration:none;	
	 color:#000000;
	 cursor:pointer;
}

.login-btn:hover{
	background-color: #000000;
	color: #ffffff;
  }

.signup-btn {
	top: 44px;
	left: 1600px;
	position: absolute;
	font-family:'Times New Roman', Times, serif;
	 font-size:18px;
	 font-weight:bold;
	 padding:8px 16px;
	 text-align:center;
	 text-decoration:none;	
	 color:#000000;
	 cursor:pointer;
}

.signup-btn:hover{
	background-color: #000000;
	color: #ffffff;
  }
  
  .search-box {
	top: 40px;
	left: 1240px;
	width: 280px;
	height: 25px;
	border: 03px solid #000;
	padding: 08px;
	border-radius: 30px;
	position:absolute;
  }
  
  .search-input {
	font-size:16px;
	color:#000;
	background:transparent;
	border:0px;
	outline:0px;
	width:250px;
  }
  
  .icon-search {
	color:#000;
	font-size:20px;
	cursor: pointer;
  }

  .logout-btn{
	top: 44px;
	left: 1600px;
	position: absolute;
	font-family:'Times New Roman', Times, serif;
	 font-size:18px;
	 font-weight:bold;
	 padding:8px 16px;
	 text-align:center;
	 text-decoration:none;	
	 color:#000000;
	 cursor:pointer;
}

.logout-btn:hover{
	background-color: #000000;
	color: #ffffff;
  }

  .profile{
	margin-top: 50px;
	margin-left: 170px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	font-weight: bold;
  }

  