body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #fff, #cfcece);
}

.backg1{
  position: fixed;
    background-color: #ffffff;
	  padding:60px 120px;
    border-radius: 3%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
}

.backg2{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: #000000;
	  padding:4px 150px;
    box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
}

.backg3{
  background-color: #000000;
  padding:200px 0.5px;
  box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
}

.backg4{
  background-color: #000000;
  padding:0.5px 160px;
  box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
}


.container {
    margin-top: 100px;
    text-align: center;
}

  .seat-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
  }

  .seat {
    width: 35px;
    height: 35px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin-left: -300px;
  }

  .seat.selected {
    background-color: #000000;
    color: #fff;
  }

  .price {
    font-size: 18px;
    margin-top: -100px;
    margin-left: 350px;
  }

  .book-button {
    margin-top: 20px;
    margin-left: 360px;
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }

  .book-button:hover{
    background-color: #000000;
	color:#ffffff;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    width: 400px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.5);
  }

  .modal-header {
    text-align: center;
    margin-bottom: 200px;
  }

  .modal-body {
    margin-top: 10px;
    font-weight: 20px;
  }

  .txt{
    font-weight: bold;
  }

  .close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
	  background: #222;
	  color: #FFF;
	  font-size: 25px;
	  font-weight: 600;
	  line-height: 30px;
	  text-align: center;
	  border-radius: 50%;
	  cursor: pointer;
  }

  select {
    padding: 4px;
    font-size: 14px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

.showtime-button {
  padding: 6px 14px;
  margin: 5px;
  border: 1px solid #acacac;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.showtime-button.selected {
  background-color: #000000;
  color: #FFF;
}


  .seat:nth-of-type(21) {
    margin-top: 22px;
  }
  .seat:nth-of-type(22) {
    margin-top: 22px;
  }
  .seat:nth-of-type(23) {
    margin-top: 22px;
  }
  .seat:nth-of-type(24) {
    margin-top: 22px;
  }
  .seat:nth-of-type(25) {
    margin-top: 22px;
  }

  .seat:nth-of-type(1) {
    margin-left: 0px;
  }
  .seat:nth-of-type(2) {
    margin-left: -60px;
  }
  .seat:nth-of-type(3) {
    margin-left: -120px;
  }
  .seat:nth-of-type(4) {
    margin-left: -180px;
  }
  .seat:nth-of-type(5) {
    margin-left: -240px;
  }

  .seat:nth-of-type(6) {
    margin-left: 0px;
  }
  .seat:nth-of-type(7) {
    margin-left: -60px;
  }
  .seat:nth-of-type(8) {
    margin-left: -120px;
  }
  .seat:nth-of-type(9) {
    margin-left: -180px;
  }
  .seat:nth-of-type(10) {
    margin-left: -240px;
  }

  .seat:nth-of-type(11) {
    margin-left: 0px;
  }
  .seat:nth-of-type(12) {
    margin-left: -60px;
  }
  .seat:nth-of-type(13) {
    margin-left: -120px;
  }
  .seat:nth-of-type(14) {
    margin-left: -180px;
  }
  .seat:nth-of-type(15) {
    margin-left: -240px;
  }

  .seat:nth-of-type(16) {
    margin-left: 0px;
  }
  .seat:nth-of-type(17) {
    margin-left: -60px;
  }
  .seat:nth-of-type(18) {
    margin-left: -120px;
  }
  .seat:nth-of-type(19) {
    margin-left: -180px;
  }
  .seat:nth-of-type(20) {
    margin-left: -240px;
  }

  .seat:nth-of-type(21) {
    margin-left: 0px;
  }
  .seat:nth-of-type(22) {
    margin-left: -60px;
  }
  .seat:nth-of-type(23) {
    margin-left: -120px;
  }
  .seat:nth-of-type(24) {
    margin-left: -180px;
  }
  .seat:nth-of-type(25) {
    margin-left: -240px;
  }

  .seat:nth-of-type(26) {
    margin-left: 0px;
  }
  .seat:nth-of-type(27) {
    margin-left: -60px;
  }
  .seat:nth-of-type(28) {
    margin-left: -120px;
  }
  .seat:nth-of-type(29) {
    margin-left: -180px;
  }
  .seat:nth-of-type(30) {
    margin-left: -240px;
  }

  .seat:nth-of-type(31) {
    margin-left: 0px;
  }
  .seat:nth-of-type(32) {
    margin-left: -60px;
  }
  .seat:nth-of-type(33) {
    margin-left: -120px;
  }
  .seat:nth-of-type(34) {
    margin-left: -180px;
  }
  .seat:nth-of-type(35) {
    margin-left: -240px;
  }

  .seat:nth-of-type(36) {
    margin-left: 0px;
  }
  .seat:nth-of-type(37) {
    margin-left: -60px;
  }
  .seat:nth-of-type(38) {
    margin-left: -120px;
  }
  .seat:nth-of-type(39) {
    margin-left: -180px;
  }
  .seat:nth-of-type(40) {
    margin-left: -240px;
  }